{% extends 'base.html' %}

<!-- 타이틀 -->
{% block title %}
<title>Create Item</title>
{% endblock %}


<!-- 컨덴트 -->
{% block content %}
<h3>Create an Item</h3>

{% for error in errors %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endfor %}

<form method="post" action="/create-item">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Enter Item Title" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" placeholder="Enter Item description"
            required></textarea>
    </div>
    <div class="form-text">Enter full item description in details</div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

{% endblock %}