{% extends 'base.html' %}

{% block title %}
<title>User Registration</title>
{% endblock %}

{% block content%}
<h3>User Registration</h3>
{% for error in errors %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>

{% endfor %}
<form method="post" action="/register">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

{% endblock %}